md-bottom-sheet(
  ng-controller="docCtrl", 
  ng-init="initSelectedRoles()")

  .bottom-sheet-container(
    layout="column",
    layout-xs="column", 
    layout-sm="column",
    flex-sm="90",
    layout-align="center center")
    span.small-text.white-color press "ESC" to exit this view.
    .create-doc-form
      h5.headline.white-color
        i.fa.fa-file.fa-2x &nbsp; Create Document

      md-divider

      br

      div(
        layout="row", 
        layout-xs="column", 
        layout-sm="column",
        layout-align="start start")

        .input(
          flex=70,
          flex-sm=100,
          layout="column",
          layout-sm="column",
          flex-order-sm="1")
          md-input-container.md-block
            label Title
            input(
              ng-model="newDoc.title", 
              type="text", 
              ng-required="true", 
              aria-label="doc.title")

          md-input-container.md-block
            label Content
            textarea(
              ng-model="newDoc.content", 
              columns="10", 
              md-maxlength="1000", 
              rows="14")

        .roles(
          layout="column",
          layout-sm="column",
          flex-order-sm="2",
          flex-sm=100,
          flex=30)
          span.small-text.white-color.text-center Assign roles to this document

          br

          md-virtual-repeat-container#vertical-container(ng-init="loadRoles()")
            .repeated-item(md-virtual-repeat="role in roles")
              md-checkbox(
                ng-checked="exists(role.title, selectedRoles)", 
                ng-click="toggle(role.title, selectedRoles)")
                | {{role.title}}

              md-divider

      md-button.md-raised.custom-button(ng-click="createDoc()")
        span.login-signup-text CREATE DOCUMENT
