.docs-container.animated.slideInRight(ng-init="init()")

  div(ng-show="featuredDocs.length < 1")
    div(
      layout="row",
      layout-align="center center")

      .no-docs-msg-container
        .icon-holder
          i.fa.fa-folder-open-o.fa-5x
        span {{noFeaturedDocsMsg}}

  .outter-doc-card(
    ng-if="featuredDocs.length > 0", 
    ng-repeat="doc in featuredDocs | filter: searchText:strict")

    .inner-doc-card
      md-content.doc-card
        .content
          h5(ng-bind-html="highlight(doc.title, searchText.title)")
          md-divider
          p.small-text {{doc.content}}
        .indicator
          i.fa.fa-users

        md-button.md-ink-ripple.md-raised.doc-card-button(
          ui-sref="dashboard.view-document({doc_id: \"{{doc._id}}\"})", 
          md-ink-ripple, 
          aria-label="View document")
          i.fa.fa-eye

  i.fa.fa-circle-o-notch.fa-spin.fa-4x.loading-icon(ng-show="isLoading")
